.fuente{
    font-family: 'Courier New', Courier, monospace;
    border: .5px solid grey;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px

}

.parrafo1{
    font-size: large;
}

.titulo1{
    font-size: xx-large;
}

.titulo2{
  font-size: x-large;
}

.dosCol{
    column-count: 2;
    flex: auto;
    flex-direction: column;
    
}

.colI {
    margin-left: auto;
    margin-right: 5px;
  }
  
  .colD {
    margin-left: 5px;
    margin-right: auto;
    
  }

  .descr1{
    flex-direction: row;
    align-content: center;
    font-size: smaller;
    text-align: center;
  } 